@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Algorand Algod Proxy</h1>
    <p>Learn about <a href="https://developer.algorand.org/">Algorand</a>.</p>
</div>
